:root{
    --bg-color: #101010;
    --accent-color: #ff0fff;
    --text-color: #ffffff;
    --font-family: "amifer", sans-serif;
    
}
body{
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
}
.nav-link {
    background-color: var(--accent-color);
    color: var(--text-color);

}